.modalwin {
  width: 50%;
  background-color: aquamarine;
  position: "absolute";
  top: 50px;
  left: 50px;
  transform: "translate(-50%, -50%)";
  border: "2px solid gray";
  border-radius: 3;
  //   box-shadow: 24;
  z-index: 99;
}
